{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<style>
    body {
        background-color: black
    }
    .salas_links:hover{
        opacity:50%;
        background-color: black

    }
</style>


<div class="container-fluid text-white mt-3 mb-3">
    <div class="row">
        <div class="col-lg-8 m-0 p-2">
            {% for post in posts %}
                <div class="p-3" style="background-color:#343a406e">
                    <div>
                        <p><small>Created by: {{ post.author }} {{post.created_on}}</small></p>
                    </div>
                    <h4><strong>{{post.title}}</strong></h4>
                    <p>{{post.body|truncatechars:200}}</p>
                    <div class="embed-responsive embed-responsive-4by3">
                        <img class="embed-responsive-item" src="{{post.thumb.url}}" alt="" style="object-fit:cover">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-4 m-0 p-2">
            <h3><strong>Top Chat Rooms</strong></h3>
            <div class="card" style="background-color:#343a406e">
                <img class="card-img-top" src="{% static 'steven_bg08.gif' %}" alt="Card image cap">
                <div class="card-body row m-0 p-0">
                    {% for sala in salas %}
                    <a class="col-12 row text-white m-0 salas_links" style="text-decoration:none" href="/chat/{{sala.name}}/">
                        <div class="col-4 p-2">{{sala.users.count}} users</div>
                        <div class="col-8 p-2">{{ sala.name }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}