{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<style>
    body {
        background-color: black
    }
</style>

<div class="container-fluid text-white mt-3 mb-3 cont p-0" style="width:90%;">

    <div class="row all-bar m-0 p-0">
        <div class="col-md-8 m-0 p-1">

            <div class="p-2 rounded" style="background-color:#343a406e">
                <h4><strong>{{post.title}}</strong></h4>
                <p class=""><small>Created by: {{ post.author }} {{post.created_on}}</small></p>
                <div class="embed-responsive embed-responsive-4by3">
                    <img class="embed-responsive-item" src="{{post.thumb.url}}" alt="" style="object-fit:cover">
                </div>
                <p class="mt-3 p-1" style="white-space:pre-line">{{post.body}}</p>
            </div>

            <!--            Commets Section-->
            <div class="p-1 rounded mt-2" style="background-color:#343a406e">
                <div class="row p-0 m-0">
                    <input type="text" class="col-10 form-control mb-3 required-field" id="chat-message-input" maxlength="5000" placeholder="..." required>
                    <button class="col-2 btn btn-dark msg" style="height:10%" onclick="alterClass();" id="chat-message-submit" type="submit" value="Send"> > </button>
                </div>

                <div class="container-fluid p-0 m-0" id="commentSection">
                    {% for com in post.comments.all reversed %}
                    {% if com.is_parent %}
                    <div class="m-0 p-0">
                        <div class="m-0 p-0 row" id="comment{{com.pk}}">
                            <div class="m-0 p-0 col-1 ">
                                <img class="mx-auto d-block mt-1 img-fluid rounded embed-responsive-item img-teste" src="{{com.author.profile.image.url}}" alt="" style="width:50px;height:40px;object-fit:cover">
                            </div>
                            <div class="col-11 bg-dark text-white p-1 mt-1 card">
                                <p class="m-0 p-0"><strong>{{com.author}}</strong></p>
                                <p class="m-0 p-0">{{com.comment}}</p>
                            </div>
                            <span class="col-1 m-0 p-0"></span>
                            <div class="col-11 m-0 p-0" id="accordion">
                                <a class="reply m-0 p-0" data-toggle="collapse" data-target="#collapseOne{{com.pk}}"><i class="bi bi-reply-fill"></i><small>Reply</small></a>
                                <div class="p-0 m-0 collapse" aria-labelledby="headingOne" data-parent="#accordion" id="collapseOne{{com.pk}}">
                                    <form action="" class="form-group m-0 p-0 row">
                                        <input type="text" class="chat-message-input-reply col-10 form-control mb-3 required-field {{com.author}}" id="{{com.pk}}" maxlength="5000" placeholder="..." required>
                                        <button class="chat-message-submit-reply col-2 btn btn-dark msg" style="height:10%" type="submit" value="Send"> > </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% if com.replies.all.count > 2 %}
                            <a class="btn btn-link text-white" id="count{{com.pk}}" style="display: inline-block" data-toggle="collapse" data-target="#collapseTwo{{com.pk}}" aria-controls="collapseTwo">See all comments ({{com.replies.all.count}})</a>
                        {% else %}
                            <a class="btn btn-link text-white" id="count{{com.pk}}" style="display: none" data-toggle="collapse" data-target="#collapseTwo{{com.pk}}" aria-controls="collapseTwo">See all comments ({{com.replies.all.count}})</a>
                        {% endif %}
                        <div class="col-12 m-0 p-0" id="accordion{{com.pk}}">
                            {% for reply in com.replies.all %}
                            {% if com.replies.all.count > 2 %}
                                <span class="collapse collapseTwo{{com.pk}} texte{{com.pk}}" id="collapseTwo{{com.pk}}" aria-labelledby="headingOne" data-parent="#accordion{{com.pk}}">
                            {% else %}
                                <span class="collapse collapseTwo{{com.pk}} texte{{com.pk}} show" id="collapseTwo{{com.pk}}" aria-labelledby="headingOne" data-parent="#accordion{{com.pk}}">
                            {% endif %}
                            <div class="m-0 ml-3 p-0 row" id="replies">
                                <div class="m-0 p-0 col-1 ">
                                    <img class="mx-auto d-block mt-1 img-fluid rounded embed-responsive-item img-teste2" src="{{reply.author.profile.image.url}}" alt="" style="width:30px;height:30px;object-fit:cover">
                                </div>
                                <div class="col-11 text-white p-1 mt-1 card" style="background-color:#bd2130e6">
                                    <p class="m-0 p-0"><strong>{{reply.author}}</strong></p>
                                    <p class="m-0 p-0"><a class="mr-2">{{reply.reply_author}}</a>{{reply.comment}}</p>
                                </div>
                                <span class="col-1 m-0 p-0"></span>
                                <div class="col-11 m-0 p-0" id="accordion{{reply.pk}}">
                                    <a class="reply m-0 p-0" data-toggle="collapse" data-target="#collapseOne{{reply.pk}}"><i class="bi bi-reply-fill"></i><small>Reply</small></a>
                                    <div class="p-0 m-0 collapse" aria-labelledby="headingOne" data-parent="#accordion" id="collapseOne{{reply.pk}}">
                                        <form action="" class="form-group m-0 p-0 row">
                                            <input type="text" class="chat-message-input-reply col-10 form-control mb-3 required-field {{reply.author}}" id="{{com.pk}}" maxlength="5000" placeholder="..." required>
                                            <button class="chat-message-submit-reply col-2 btn btn-dark msg" style="height:10%" id="" type="submit" value="Send"> > </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4 m-0 p-1 rounded" id="side-bar">
            <p class="text-center p-3 m-0 mb-2 rounded" style="background-color:#343a406e"><strong>Top chat rooms</strong></p>
            <div class="card" style="background-color:#343a406e">
                <img class="card-img-top p-0 m-0" src="{% static 'steven_bg08.gif' %}" alt="Card image cap">
                <div class="card-body row m-0 p-0">
                    {% for sala in salas %}
                    <a class="col-12 mt-2 row text-white m-0 p-0 salas_links" style="text-decoration:none" href="/chat/{{sala.name}}/">
                        <div class="col-2 p-0 ml-1" style="font-size:12px">{{sala.users.count}} users</div>
                        <div class="col-9 p-0 ml-2"><img src="{{ sala.image.url }}" class="img-fluid rounded-circle mr-1" style="width:20px;height:20px;object-fit:cover"> {{ sala.name }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

{{ post.pk|json_script:"post-pk" }}
{{ request.user.id|json_script:"user_id" }}
<script src="{% static 'comments.js' %}"></script>
<script src="{% static 'sidebar.js' %}"></script>


{% endblock content %}
