{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<p class="text-center p-2 text-uppercase"><strong id="num_users">{{room.name}} - {{room.users.all.count}} members</strong></p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="p-0 m-0 card bg-dark text-white" id="position" style="height:70vh; overflow-y: auto;background-image: url({% static 'steven_bg08.gif' %});background-size:cover;background-position:center;scroll-behavior: smooth">
    <div class="card-img-overlay p-1" id="chat-log">
        {% for chat in chats %}
        {% if request.user == chat.user %}
        <div class='m-0 mt-1 p-0'>
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0">
                    <img class="float-left rounded-circle" src="{{ chat.user.profile.image.url }}" style="width:30px;height:30px" alt="">
                    <p class="float-left ml-2"><strong>{{ chat.user }}</strong></p>
                </div>
                <div class="container rounded ml-0 pl-0 perfil1" style="">
                    <p class="bg-dark float-left rounded text-card p-2" style="max-width:100%; min-width:15%">{{ chat.content }}</p>
                </div>
            </div>
        </div>
        {% else %}
        <div class='text-body m-0 mt-1 p-0'>
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0">
                    <img class="float-right rounded-circle" src="{{ chat.user.profile.image.url }}" style="width:30px;height:30px" alt="">
                    <p class="float-right mr-2"><strong>{{ chat.user }}</strong></p>
                </div>
                <div class="container rounded mr-0 pr-0 perfil1" style="">
                    <p class="bg-primary float-right rounded text-card p-2" style="max-width:100%;min-width:15%;">{{ chat.content }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row p-0 m-0">
    <input type="text" class="col-10 form-control mb-3 required-field" id="chat-message-input" maxlength="5000" placeholder="..." required>
    <button class="col-2 btn btn-success msg" style="height:10%" onclick="alterClass();" id="chat-message-submit" type="submit" value="Send">Send</button>
</div>

{{ room_name|json_script:"room-name" }}
{{ request.user.id|json_script:"user_id" }}

<script src="{% static 'room.js' %}"></script>
<script>
jQuery(document).ready(function($) {
  var alterClass = function() {
    var ww = document.body.clientWidth;
    if (ww < 600) {

      $('.perfil1').css({'width':'100%'});

    } else if (ww >= 601) {
      $('.perfil1').css({'width':'55%'});

    };
  };
  $(window).resize(function(){
    alterClass();
  });
  alterClass();
});
</script>
{% endblock content %}