{% extends 'navbar.html' %}
{% load custom_tags %}
{% block content %}
<style>
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    body {
        background-color: black;
    }
</style>

<div class="container-fluid text-white mt-3 mb-3 p-0 " style="width:90%;">
    <div class="row mb-3">
        <div class="col-md-5 m-0 p-1">
            <div class="m-0 p-0 border" style="background-color:#343a406e">
                <div class="text-center bg-dark p-2"><h5>Meus Chats</h5></div>
                {% if threads %}
                {% for th in threads %}
                <a href="{% url 'thread' th.pk %}" class="m-0 p-0" style="text-decoration:none">
                    <div class="card rounded text-white mt-2" style="background-color:#343a406e">
                        <div class="card-horizontal rounded p-2">
                            <div class="img-square-wrapper embed-responsive rounded" style="width:90px;height:55px;object-fit:cover">
                                {% if th.receiver == request.user %}
                                <img class="embed-responsive-item" src="{{th.user.profile.image.url}}" alt="Card image cap" style="width:90px;height:55px;object-fit:cover">
                                {% else %}
                                <img class="embed-responsive-item" src="{{th.receiver.profile.image.url}}" alt="Card image cap" style="width:90px;height:55px;object-fit:cover">
                                {% endif %}
                            </div>
                            <div class="card-body p-0 m-0 ml-1 text-white">
                                {% if th.receiver == request.user %}
                                    <p class="card-text m-0 p-0"><strong>{{th.user}}</strong></p>
                                    {% with "false" as data %}
                                        {% for msg in mess.all %}
                                            {% if data == "false" %}
                                                {% if msg.thread|slice:'0:1' == th %}
                                                    <p class="m-0 p-0">{{ msg.text|truncatechars:20 }}</p>
                                                    {% update_variable true as data %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                {% else %}
                                    <p class="card-text m-0 p-0"><strong>{{th.receiver}}</strong></p>
                                    {% with "false" as data %}
                                        {% for msg in mess.all %}
                                            {% if data == "false" %}
                                                {% if msg.thread|slice:'0:1' == th %}
                                                    <p class="m-0 p-0">{{ msg.text|truncatechars:20 }}</p>
                                                    {% update_variable true as data %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p class="text-center p-0 m-0" style="height:60px;">No chats at moment</p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4 m-0 p-1">
            <div class="m-0 p-0 border" style="background-color:#343a406e">
                <div class="text-center bg-dark p-2"><h5>Minhas salas</h5></div>
                {% for chat in salas %}
                <a class="text-white m-0 p-0" href="{% url 'room' chat.name %}" style="text-decoration: none">
                    <div class="text-white border-top p-1">
                        <div class="row m-0 p-0">
                            <img src="{{chat.image.url}}" alt="" class="img-fluid rounded-circle " style="object-fit:cover;height:50px;width:50px;">
                            <p class="ml-2" style="justify-content: start;align-items: end; display: flex"><strong>{{chat.name}}</strong></p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3 m-0 p-1">
            <div class="m-0 p-0 border" style="background-color:#343a406e">
                <div class="text-center bg-dark p-2"><h5>Solicitações de contato</h5></div>
                {% for x in request.user.destinatario.all %}
                    <div class="text-white border-top p-1">
                        <div class="row m-0 p-0">
                            <img src="{{x.remetente.profile.image.url}}" alt="" class="img-fluid rounded-circle " style="object-fit:cover;height:50px;width:50px;">
                            <p class="ml-2" style="justify-content: start;align-items: end; display: flex"><strong>{{x.remetente}}</strong></p>
                            <form action="{% url 'create_thread' x.remetente.profile.pk %}" class="m-0 p-0" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success p-1 ml-1 mr-1" style="height:5vh">accept</button>
                            </form>
                            <form action="{% url 'remove_solicita' x.remetente.profile.pk %}" class="m-0 p-0" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger p-1 ml-1 mr-1" style="height:5vh">decline</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="m-0 p-0 border mt-2" style="background-color:#343a406e">
                <div class="text-center bg-dark p-2"><h5>Solicitados</h5></div>
                {% for x in request.user.remetente.all %}
                    <div class="text-white border-top p-1">
                        <div class="row m-0 p-0">
                            <img src="{{x.remetente.profile.image.url}}" alt="" class="img-fluid rounded-circle " style="object-fit:cover;height:50px;width:50px;">
                            <p class="ml-2" style="justify-content: start;align-items: end; display: flex"><strong>{{x.destinatario}}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
