.col-sm-3half, .col-sm-8half {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .col-sm-3half, .col-sm-8half {
        float: left;
    }
    .col-sm-3half {
        width: 3.16666667%;
    }
    .col-sm-8half {
        width: 50.83333333%;
    }
}